DevOpsWeb/node_modules/
*.xml
*.xml
DevOpsDocker/.idea/compiler.xml
DevOpsDocker/.idea/DevOpsDocker.iml
*.xml
*.xml
DevOpsDocker/DockerBranch/src/main/resources/application.properties
DevOpsDocker/DockerBranch/src/main/resources/application.properties
DevOpsDocker/DockerBranch/src/main/resources/application.properties
