<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamworkbranch.module.project.dao.PManagerMapper">
    <!--<cache flushInterval="300000" size="512" type="org.mybatis.caches.memcached.MemcachedCache"/>-->
    <resultMap id="pManagerMap" type="teamworkbranch.module.project.model.PManager">

        <id column="project_id" property="projectId"/>

        <id column="manager_name" property="managerName"/>

        <result column="create_time" property="createTime"/>

        <result column="update_time" property="updateTime"/>

    </resultMap>

    <insert id="insertPManager" >
        insert into project_manager(project_id,manager_name)
        values (#{projectId},#{managerName})
    </insert>

    <delete id="deletePManager">
        delete from project_manager where project_id=#{projectid} and manager_name=#{managerName}
    </delete>



</mapper>