<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamworkbranch.module.project.dao.ProjectMapper">
    <!--<cache flushInterval="300000" size="512" type="org.mybatis.caches.memcached.MemcachedCache"/>-->

    <resultMap id="projectMap" type="teamworkbranch.module.project.model.Project">
        <id column="project_id" property="projectId"/>
        <result column="creator_name" property="creatorName"/>
        <result column="name" property="name"/>
        <result column="info" property="info"/>
        <result column="group_id" property="groupId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="managerList" javaType="List" ofType="teamworkbranch.module.project.model.PManager" column="project_id"
                    select="teamworkbranch.module.project.dao.PManagerMapper.getPManagerList"/>

    </resultMap>



    <insert id="insertProject" useGeneratedKeys="true" keyProperty="project_id" parameterType="teamworkbranch.module.project.model.Project">
        insert into project (creator_name,name,info,group_id) values (#{creatorName},#{name},#{info},#{groupId})
        <selectKey keyProperty="projectId" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateProject" >
        update project set name=#{name},info=#{info}where project_id=#{projectId}
    </update>

    <delete id="deleteProject" parameterType="int">
        delete from project where project_id=#{projectId}
    </delete>

    <select id="selectById" parameterType="int" resultMap="projectMap">
        select * from project where project.project_id=#{id}
    </select>

    <!--这里可以获得刚插入表格的id，为后面manager的插入提供了projectId字段-->
    <select id="selectLastId" resultType="int">
        select LAST_INSERT_ID()
    </select>

    <select id="getProjectsByUser" parameterType="String" resultMap="projectMap">
        select * from project left join `group` on project.group_id=`group`.group_id  left join group_member on group_member.group_id =`group`.group_id where member_name=#{username}
    </select>


</mapper>