.container-fluid
    .row
        h3.col-6 南京大学软件学院DevOps教学平台
        .col-6.text-right.align-middle#userMenu 你好，#{realname} &nbsp;&nbsp;
         .dropdown.float-right
            button.btn.btn-outline-info.btn-sm.dropdown-toggle(type="button",data-toggle="dropdown") 用户设置
            .dropdown-menu
                a.dropdown-item#modInfoBtn(href="#") 修改个人资料
                a.dropdown-item#modPassBtn(href="#") 修改密码
            button.btn.btn-outline-warning.btn-sm.float-right#logoutBtn(type="button") 退出登录
.container-fluid#teamworkMenu
    .row
        span 当前激活的项目id为#{projectid}，等等


