.btn-group-vertical.col-2.border.border-primary#menu
    button.btn.btn-primary.btn-block#gitBtn(type='button', data-toggle='collapse', data-target='.collapse-workboards')
        | 源码管理
        i.fa.fa-chevron-down
    button.btn.btn-secondary.btn-block.collapse.collapse-workboards#repositoryBtn(type='button')  仓库详情
    button.btn.btn-secondary.btn-block.collapse.collapse-workboards#commitBtn(type='button')  提交记录
    button.btn.btn-secondary.btn-block.collapse.collapse-workboards#mergeBtn(type='button')  合并管理
    button.btn.btn-secondary.btn-block.collapse.collapse-workboards#keyBtn(type='button')  密钥管理