<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/newsshkey" method="post">
        <table>
            <tr>
                <td>id:</td>
                <td>
                    <input type="text" name="id">
                </td>
            </tr>
            <tr>
                <td>title:</td>
                <td>
                    <input type="text" name="title">
                </td>
            </tr>
            <tr>
                <td>key:</td>
                <td>
                    <input type="text" name="key">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="提交">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>