<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>

    <table border="1">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>username</td>
            <td>password</td>
            <td>email</td>
        </tr>
        <tr th:each="user:${list}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>
</body>
</html>