<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sshkeylist</title>
</head>
<body>
<table border="1">
    <tr>
        <td>key_id</td>
        <td>title</td>
        <td>key</td>
        <td>create_at</td>
    </tr>
    <tr th:each="sshkey:${list}">
        <td th:text="${sshkey.key_id}"></td>
        <td th:text="${sshkey.title}"></td>
        <td th:text="${sshkey.key}"></td>
        <td th:text="${sshkey.create_at}"></td>
    </tr>
</table>
</body>
</html>