<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamworkbranch.module.group.dao.GMemberMapper">
    <!--<cache flushInterval="300000" size="512" type="org.mybatis.caches.memcached.MemcachedCache"/>-->
    <resultMap id="GMemberMap" type="teamworkbranch.module.group.model.GMember">

        <id column="group_id" property="groupId"/>

        <id column="member_name" property="member_Name"/>

        <result column="create_time" property="createTime"/>

        <result column="update_time" property="updateTime"/>

    </resultMap>

    <insert id="insertGMember" parameterType="teamworkbranch.module.group.model.GMember">
        insert into group_member(group_id,member_name,is_manager)
        values (#{groupId},#{member_Name},#{is_manager})
    </insert>

    <delete id="deleteGMember">
        delete from group_member where group_id=#{groupId} and member_name=#{member_Name}
    </delete>

    <update id="editGMember" parameterType="teamworkbranch.module.group.model.GMember">
        update `group` set name=#{name},info=#{info} where group_id=#{groupId}
    </update>

    <select id="getGMemberByGroup" parameterType="int" resultMap="GMemberMap">
        select * from group_member WHERE group_id=#{groupId}
    </select>

    <select id="selectById" resultMap="GMemberMap">
        select * from group_member WHERE group_id=#{groupId} and member_name=#{member_Name}
    </select>




</mapper>