<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="module.project.dao.ProjectMapper">
    <!--<cache flushInterval="300000" size="512" type="org.mybatis.caches.memcached.MemcachedCache"/>-->

    <resultMap id="projectMap" type="module.project.model.Project">
        <id column="project_id" property="projectId"/>
        <result column="creator_name" property="creatorName"/>
        <result column="name" property="name"/>
        <result column="info" property="info"/>
        <result column="group_id" property="groupId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>

    </resultMap>



    <insert id="insertProject" useGeneratedKeys="true" keyProperty="project_id" parameterType="Project">
        insert into project (creator_name,name,info,group_id) values (#{creatorName},#{name},#{info},#{groupId})
        <selectKey keyProperty="project_id" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>

    </insert>

    <update id="updateProject" parameterType="int">
        update project set name=#{name},info=#{info}where project_id=#{projectId}
    </update>

    <delete id="deleteProject" parameterType="int">
        delete from project where project_id=#{projectId}
    </delete>

    <select id="selectById" parameterType="int" resultMap="projectMap">
        select * from project left join project_manager on project.project_id=project_manager.project_id where project_id=#{projectId}
    </select>

    <insert id="insertManager" >
        insert into project (creator_name,name,info,group_id) values (#{creatorName},#{name},#{info},#{groupId})
    </insert>

    <!--这里可以获得刚插入表格的id，为后面manager的插入提供了projectId字段-->
    <select id="selectLastId" resultType="int">
        select LAST_INSERT_ID()
    </select>



</mapper>