extends layout

block content
    body
        .container-fluid#frame
            .row.container-fluid.px-1.py-2
                .col-10#main.border.border-primary
                    .table-responsive
                        table.table-striped.table-hover.col-12
                            thead
                                tr
                                    th  发起分支
                                    th  目标分支
                                    th  请求时间
                                    th  发起人
                                    th  操作
                            tbody
                                
                    br
                    br