extends layout

block content
    .container-fluid
        .form-group
            label(for='usrInput') 用户名：
            input.form-control#usrInput(type='text')
            label(for='oldPwdInput') 旧密码：
            input.form-control#oldPwdInput(type='password')
            label(for='newPwdInput1') 新密码：
            input.form-control#newPwdInput1(type='password')
            label(for='newPwdInput2') 重复新密码：
            input.form-control#newPwdInput2(type='password')
        button.btn.btn-primary.btn-lg.float-right#chPwdBtn(type='button',onClick='chPwd()') 修改密码
    script(src="/javascipts/modPassword.js")

